[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
django-bridger = {editable = true,path = "."}
pytest-mock = "*"
mypy = "*"
jsonschema = "*"
pytest-factoryboy = "*"

[packages]
psycopg2-binary = "~=2.8"
django = "~=2.2"
django-rest-framework = "*"
django-filter = "*"
factory-boy = "*"
colorlog = "*"
dj-database-url = "*"
djangorestframework-simplejwt = "*"
django-fsm = "~=2.5"
django-extensions = "*"
django-cors-headers = "*"
pillow = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = false

[scripts]
test = "pytest -v"
local = "python manage.py runserver 0.0.0.0:5000"
start_db = "docker-compose up -d"
psql = "docker exec -it django-bridger_postgres_1 psql"
