[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-factoryboy = "*"
pytest-asyncio = "*"
twine = "*"
colorlog = "*"
django-extensions = "*"
django-cors-headers = "*"
factory-boy = "*"
dj-database-url = "*"
mkdocs = "*"
markdown = "*"
markdown-blockdiag = "*"
markdown-include = "*"
pymdown-extensions = "*"
flake8 = "*"
pytest-flake8 = "*"
pytest-isort = "*"
jupyter = "*"
mkautodoc = "*"
mkdocs-material = "*"
pytest-sugar = "*"

[packages]
django-bridger = {editable = true,path = "."}

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = false

[scripts]
test = "pytest"
test_verbose = "pytest -v"
test_full = "pytest --cache-clear"
local = "python manage.py runserver 0.0.0.0:5000"
celery = "celery -A celery_app worker -l info -Ofair --concurrency=1 -E"
start_db = "docker-compose up -d"
psql = "docker exec -it django-bridger_postgres_1 psql"
docs = "mkdocs serve -a 0.0.0.0:8000"
sort_import = "isort -rc ."
notebook = "python manage.py shell_plus --notebook"
