[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
django-bridger = {editable = true,path = "."}
pytest-mock = "*"
mypy = "*"
jsonschema = "*"
pytest-factoryboy = "*"

[packages]
psycopg2-binary = "~=2.8"
django = "~=3.0"
django-rest-framework = "*"
django-filter = "*"
factory-boy = "*"
colorlog = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = false

[scripts]
test = "pytest -v"
